beautifulsoup4~=4.12
configparser~=7.0
connexion[flask,uvicorn,swagger-ui]~=3.0
extruct~=0.18.0
feedparser~=6.0
flask-limiter~=3.5
hashid~=3.1.4
idutils~=1.2
jmespath~=1.0
levenshtein
lxml==5.3.0
pandas~=2.1
pyRdfa3~=3.5
pyld~=2.0
pyyaml~=6.0
rapidfuzz~=3.3
rdflib~=7.0
requests
sparqlwrapper~=2.0
tika~=2.6.0
tldextract~=5.0
urlextract~=1.8
pygithub~=2.1
numpy==1.26.4
six